* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background: #ddd;
  width: 50%;
  margin: 50px auto;
  min-height: 400px;
  text-align: center;
}
.App h1 {
  margin-bottom: 25px;
}
.addItems input {
  width: 50%;
  height: 40px;
  padding: 20px;
}
.addItems button {
  height: 45px;
  width: 50px;
  cursor: pointer;
}
.showItems {
  margin-top: 40px;
}
.singleItems {
  position: relative;
  padding-bottom: 15px;
}
.singleItems h3 {
  display: inline-block;
  width: 388px;
  background: green;
  color: #fff;
  font-size: 18px;
  padding: 15px;
  text-align: left;
}
.singleItems .icon {
  position: absolute;
  top: 43%;
  right: 160px;
  transform: translateY(-50%);
  color: #fff;
  cursor: pointer;
}
.clearData {
  padding-bottom: 50px;
}
.clearData button {
  background: red;
  border: none;
  padding: 0;
  width: 120px;
  height: 40px;
  color: #fff;
  cursor: pointer;
}
